html {
	font-size: 16px;
}

.social-bar {
	position: fixed;
	/* right: 0; */
	left: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 100;
	
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
	margin: 0;
}

.icon-facebook2 {
	background: #2E406E;
}

.icon-twitter{
	background: #339DC5;
}

.icon-play {
	background: #E83028;
}

.icon-github {
	background: black;
}

.icon:first-child {
	border-radius: 0 1rem 0 0;
}


.icon:last-child {
	border-radius: 0 0 1rem 0;
	
}
.icon:hover {
	padding-left: 3rem; 
	border-radius: 0 1rem 1rem 0;
	box-shadow: 0 0 .5rem rgba(0, 0, 0,0.42rem);
}


@media screen and (max-width:575px){
  
    .icon{
	   color:white;
	   opacity: .2;
    }

}

